<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/awsm_theme_big-stone.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.fileSlug + ' — Notes' or 'Notes' }}</title>
</head>
<body>
	<header>
		<h1><a href="/">Notes</a></h1>
	</header>
	<main>
		{% if page.fileSlug != 'index' %}
			<h1>{{ page.fileSlug }}</h1>
		{% endif  %}

		{{ content | toc | safe }}

		{{content | safe}}		
	</main>
	<footer>
		Notes
	</footer>
	<script src="/js/highlight.min.js"></script>
	<link rel="stylesheet" href="/css/highlight-monokai-sublime.min.css">
	<script>
		document.addEventListener('DOMContentLoaded', (event) => {
  			document.querySelectorAll('pre code').forEach((block) => {
    			hljs.highlightBlock(block);
  			});
		});
	</script>
</body>
</html>